.container {
  justify-content: center;
  margin-top: 20px;
  height: 100%;
  display: flex;
  padding: 0 10px;

}


.columnContainer {
  margin-right: 1px;
  position: relative;
  margin-top: auto;
}

